In [ ]:
!ls

In [ ]:
import pandas as pd

In [ ]:
df= pd.read_csv('the_good_modified_dataset_of_rent.csv')

In [ ]:
df

In [ ]:
import googlemaps

In [ ]:
g_keys=googlemaps.Client(key='AIzaSyDB4cH3TcqXvyp2zIjhzJD3OcJmZlr0mOg')

In [ ]:
df['Title_modify'][0]

In [144]:
df

,lat,Unnamed: 0,location,Area Sq.ft,bhk,bath_clean,dates,Title_modify
0,1,0,Saarthi Soverign,950,2,2,2021-03-17,Mahalunge
1,1,1,"Maruti Enclave, Tara Dutta Colony",600,2,1,2021-03-17,B.T Kawade Road
2,1,2,Jeveen Anand,782,2,2,2021-03-17,Vijay Nagar
3,1,4,Goodwill Unique Zest County,667,2,2,2021-03-17,Lohegaon
4,1,5,Nikhil Park,735,2,1,2021-03-17,Manik Baug
...,...,...,...,...,...,...,...,...
7740,1,9886,Kohinoor Tinsel Town Phase 2,1011,2,2,2021-03-01,Hinjewadi
7741,1,9888,Mayureshwara Heights,650,1,1,2021-03-08,Hingane Home Colony
7742,1,9889,Vaishnavi Sahil Heights,583,1,2,2021-02-22,Pimple Nilakh
7743,1,9891,SKYi Star Towers,570,2,2,2021-03-09,Bhukum
7744,1,9892,Vision Indramegh,1165,3,3,2021-02-17,Kate Wasti

In [119]:
modifed=df.head(len(df)-100)

In [69]:
lat=[]
longi=[]
for i in df['Title_modify']:
    geo_cod=g_keys.geocode(i)
    for i in geo_cod:
        lat.append(i['geometry']['location'][u'lat'])
        longi.append(i['geometry']['location'][u'lng'])

In [79]:
geo_cod[0]['geometry']['location']['lat']

18.6241223

In [160]:
df.lat=1
df['longi']=0

In [162]:
df

,lat,Unnamed: 0,location,Area Sq.ft,bhk,bath_clean,dates,Title_modify,longi
0,1,0,Saarthi Soverign,950,2,2,2021-03-17,Mahalunge,0
1,1,1,"Maruti Enclave, Tara Dutta Colony",600,2,1,2021-03-17,B.T Kawade Road,0
2,1,2,Jeveen Anand,782,2,2,2021-03-17,Vijay Nagar,0
3,1,4,Goodwill Unique Zest County,667,2,2,2021-03-17,Lohegaon,0
4,1,5,Nikhil Park,735,2,1,2021-03-17,Manik Baug,0
...,...,...,...,...,...,...,...,...,...
7740,1,9886,Kohinoor Tinsel Town Phase 2,1011,2,2,2021-03-01,Hinjewadi,0
7741,1,9888,Mayureshwara Heights,650,1,1,2021-03-08,Hingane Home Colony,0
7742,1,9889,Vaishnavi Sahil Heights,583,1,2,2021-02-22,Pimple Nilakh,0
7743,1,9891,SKYi Star Towers,570,2,2,2021-03-09,Bhukum,0
7744,1,9892,Vision Indramegh,1165,3,3,2021-02-17,Kate Wasti,0

In [164]:
df=df.drop('Unnamed: 0',,axis=1)

In [165]:
df

,lat,location,Area Sq.ft,bhk,bath_clean,dates,Title_modify,longi
0,1,Saarthi Soverign,950,2,2,2021-03-17,Mahalunge,0
1,1,"Maruti Enclave, Tara Dutta Colony",600,2,1,2021-03-17,B.T Kawade Road,0
2,1,Jeveen Anand,782,2,2,2021-03-17,Vijay Nagar,0
3,1,Goodwill Unique Zest County,667,2,2,2021-03-17,Lohegaon,0
4,1,Nikhil Park,735,2,1,2021-03-17,Manik Baug,0
...,...,...,...,...,...,...,...,...
7740,1,Kohinoor Tinsel Town Phase 2,1011,2,2,2021-03-01,Hinjewadi,0
7741,1,Mayureshwara Heights,650,1,1,2021-03-08,Hingane Home Colony,0
7742,1,Vaishnavi Sahil Heights,583,1,2,2021-02-22,Pimple Nilakh,0
7743,1,SKYi Star Towers,570,2,2,2021-03-09,Bhukum,0
7744,1,Vision Indramegh,1165,3,3,2021-02-17,Kate Wasti,0

In [197]:
df.columns

Index(['location', 'Area Sq.ft', 'bhk', 'bath_clean', 'dates', 'Title_modify'], dtype='object')

In [198]:
df.iat[0,5]

' Mahalunge'

In [194]:
df.lat=1
df.longi=0

In [201]:
lat=[]
longi=[]
for i in range(0,len(df),1):
    geo_cod=g_keys.geocode(df.iat[i,5])
    try:
     lat.append(geo_cod[0]['geometry']['location']["lat"])
    except:
        lat.append('NAN')
    try:
        longi.append(geo_cod[0]['geometry']['location']["lng"])
    except:
        longi.append('NAN')
    
  

    #lat.append(geo_cod[0]['geometry']['location']["lat"])
    #longi.append(geo_cod[0]['geometry']['location']["lng"])
    #modifed.iat[i,modifed.columns.get_loc("lat")]=lat
    #df.iat[i,df.columns.get_loc("longi")]=geo_cod[0]['geometry']['location'][u'lng']

In [127]:
geo_cod= geo_cod=g_keys.geocode(modifed.iat[1,6])
geo_cod

[]

In [203]:
df['lat']=lat
df['longi']=longi

In [204]:
!pwd

/run/media/swaraj/volume y/code/work/rent_estimetoer

In [205]:
df.to_csv('/run/media/swaraj/volume y/code/work/rent_estimetoer/lati_longi.csv')

In [128]:
modifed.iat[1,6]

'2021-03-17'

In [139]:
modimodifed=copy.modifed

<ipython-input-139-7e6fc25dbf23>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  modifed['lat']=lat

In [94]:
df.tail(10)

,lat,Unnamed: 0,location,Area Sq.ft,bhk,bath_clean,dates,Title_modify
7735,18.57382,9879,Amrapalishree CHS,600,1,1,2021-02-22,Kalyani Nagar
7736,18.57382,9880,Kalpa Vruksha,850,2,2,2021-02-15,Kasar Amboli
7737,18.57382,9882,Grafikon Niwas,1200,2,1,2021-02-12,Sakore Nagar
7738,18.57382,9883,Giridhar Oasis,1500,3,3,2021-02-15,Thite Nagar
7739,18.57382,9884,Bhoir Estate,900,2,2,2021-01-15,Thergaon
7740,18.57382,9886,Kohinoor Tinsel Town Phase 2,1011,2,2,2021-03-01,Hinjewadi
7741,18.57382,9888,Mayureshwara Heights,650,1,1,2021-03-08,Hingane Home Colony
7742,18.57382,9889,Vaishnavi Sahil Heights,583,1,2,2021-02-22,Pimple Nilakh
7743,18.57382,9891,SKYi Star Towers,570,2,2,2021-03-09,Bhukum
7744,18.57382,9892,Vision Indramegh,1165,3,3,2021-02-17,Kate Wasti

In [95]:
len(df)

7745

In [ ]:
import json

In [ ]:
type(geo_cod)

In [ ]:
geo_cod[0]

In [ ]:
for i in geo_cod:
    print(i['geometry']['location'])

In [ ]:
data = json.loads(geo_cod[0])
lat,lng,el = [],[],[]
for result in data['results']:
    lat.append(result[u'location'][u'lat'])
    lng.append(result[u'location'][u'lng'])
    el.append(result[u'elevation'])
df = pd.DataFrame([lat,lng,el]).T

In [ ]:
lat

In [ ]:
df['longi']=longi

In [52]:
len(df['Title_modify'])
len(longi)

8619

In [53]:
df['Title_modify']

0                  Mahalunge
1            B.T Kawade Road
2                Vijay Nagar
3                   Lohegaon
4                 Manik Baug
                ...
7740               Hinjewadi
7741     Hingane Home Colony
7742           Pimple Nilakh
7743                  Bhukum
7744              Kate Wasti
Name: Title_modify, Length: 7745, dtype: object

In [54]:
 k=' Mahadevnagar, Manjari Road, Hadapsar (Near a Allahabad Bank)'
 geo_cod=g_keys.geocode(k)

[{'address_components': [{'long_name': 'Pandit Bhimsen Joshi Udyan',
    'short_name': 'Pandit Bhimsen Joshi Udyan',
    'types': ['establishment', 'park', 'point_of_interest']},
   {'long_name': 'Bhusari Colony',
    'short_name': 'Bhusari Colony',
    'types': ['political', 'sublocality', 'sublocality_level_2']},
   {'long_name': 'Kothrud',
    'short_name': 'Kothrud',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': 'Pune',
    'short_name': 'Pune',
    'types': ['locality', 'political']},
   {'long_name': 'Pune',
    'short_name': 'Pune',
    'types': ['administrative_area_level_2', 'political']},
   {'long_name': 'Maharashtra',
    'short_name': 'MH',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'India',
    'short_name': 'IN',
    'types': ['country', 'political']},
   {'long_name': '411038', 'short_name': '411038', 'types': ['postal_code']}],
  'formatted_address': 'Pandit Bhimsen Joshi Udyan, Bhusari Colony, Kothrud, Pune, Maharashtra 411038, India',
  'geometry': {'location': {'lat': 18.5112533, 'lng': 73.7912674},
   'location_type': 'GEOMETRIC_CENTER',
   'viewport': {'northeast': {'lat': 18.5126022802915,
     'lng': 73.79261638029149},
    'southwest': {'lat': 18.5099043197085, 'lng': 73.78991841970848}}},
  'place_id': 'ChIJJ6uFok2-wjsRyNdv5V0aifo',
  'plus_code': {'compound_code': 'GQ6R+GG Pune, Maharashtra, India',
   'global_code': '7JCMGQ6R+GG'},
  'types': ['establishment', 'park', 'point_of_interest']}]